@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  min-height: 100vh;
}

.service-mark {
  @apply text-xl text-blue-600 dark:text-blue-500;
}

.service-mark-grey {
  @apply text-xl text-gray-600;
}

.material-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.active {
  @apply text-blue-600 dark:text-blue-600 !important;
}


/* Text Animation  */
.video-container {
  position: relative;
}

video {
  width: 100%;
  height: auto;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: bold;
  display: flex;
  font-size: 4vw;
}

.text {
  overflow: hidden;
  white-space: nowrap;
}

.text2 {
  overflow: hidden;
  white-space: nowrap;
  animation: slideText 3s linear infinite;  /* Added animation */
}

.white-text {
  color: white;
}

.yellow-text {
  color: yellow;
}

.cursor {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes slideText {  
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}


/* New rules for the text animation with a "frame" */

.text2-container {
  width: calc(14px * 32);  /* Assume each character takes up roughly 14px and text2 has 32 characters */
  text-align: left;  /* Align text to the left within the container */
  white-space: nowrap;
  overflow: hidden;
}

.text2 {
  display: inline-block;
  direction: ltr;  /* Left-to-right direction for text writing */
}




